* {
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top {
    align-self: center;
    justify-self: center;
}

.container {
    background-color: green;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    display: flex;
    background-color: beige;
    border: dotted black 1px;
}